{% extends "index.html" %}
{% block content %}
{% include "menu.html" %}
<main>
    <h1>Selecione uma anotação</h1>
    <select name="id" id="id">
        {% for anotacao in anotacoes %}
        <option value="{{ anotacao.id }}">{{ anotacao.nome }}</option>
        {% endfor %}
    </select>
    <button onclick="mostrar()">Selecionar</button>
</main>
<script>
    function mostrar () {
        window.location.href = `/topicos/apresentacao/${Number(document.getElementById("id").value)}`;
    }
</script>
{% endblock %}
