{% extends "index.html" %}
{% block content %}
{% include "menu.html" %}
<main>
    <h1>Edição de Tópico</h1>
    <form action="{{ url_for('topico.atualizar', id=topico.id) }}" method="post">
        <div class="row">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" value="{{ topico.nome }}" autofocus required />
        </div>
        <label for="descricao" class="label-for-textarea">Descrição</label>
        <textarea
            name="descricao"
            id="descricao"
            cols="80"
            rows="4"
        >{% if topico.descricao %}{{ topico.descricao }}{% endif %}</textarea>
        <input type="hidden" name="supertopico_id" value="{{ topico.supertopico_id }}" />
        <button type="submit">Atualizar</button>
    </form>
</main>
{% endblock %}
